html{
    height: 100vh;
    position: relative;
}
body{
    height: 100%;
}

header{
    z-index: 2;
    width: 100%;
    position: absolute;
}

#searchBar{
    width: 100%;
    position: fixed;
    bottom: 10%;
}

#headerLogo{
    padding-top: 5px;
    padding-left: 5px;
    height: 60px;
}

#informationBlock1{
    position: absolute;
    top: 15%;
    left: 5%;
    background: rgb(0, 0, 0, 0.7);
    max-width: 575px;
}


.main-content {
    display: flex;
    flex-wrap: wrap;
}

form {
    margin: 1%;
    padding: 1%;
}

form input {
    width: 100%;
}

.btn {
    background: #ee6e73;
}

.card .card-content {
    padding: 0 10px;
}

.grow { 
    transition: all .2s ease-in-out; 
}

.grow:hover {
    transform: scale(1.1);
}

.placeholder-image {
    width: 200px;
    height:225px;
}

.fa-heart:hover {
    color: #ee6e73;
}

