
#mainContent{  
    height: 80vh;
    background: url(../images/eatintgBackground.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    text-align: center;
    margin-bottom: 4%;
    font-size: 45px;
}

#weeklyItem{
    margin: auto 50px;
}

#carouselItemInfo{
    width: 40%;
    height: 100%;
}
#carouselItemPic{
    width: 60%;
}
.carousel .indicators{
    left: 60%
}