
#mainContent{  
    height: 80vh;
    background: url(../images/eatintgBackground.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    text-align: center;
    margin-bottom: 2%;
    font-size: 45px;
}
h3,
h5{
    margin-top: 5px;
    margin-bottom: 5px;
}

#weeklyItem{
    margin: auto 50px;
}
.card{
    margin-bottom: 50px;
}

.card a{
    text-decoration: none;
    color: black;
}

.carousel a{
    text-decoration: underline;
    font-size: 18px;
    color: pink;
}

.carousel div img{
    height: 500px;
}

#carouselItemInfo{
    width: 40%;
    height: 100%;
}
#carouselItemPic{
    width: 60%
}
#carouselItemPic img{
    width: 100%;
    height: auto;
}
.carousel .indicators{
    left: 60%
}
#carouselItemInfo p{
    font-size: 20px;
    margin: 10px 20px;
}

#weeklyText{
    height: 225px;
}
