* {
    box-sizing: border-box;
}
#costlbl,
#ratinglbl,
#cuisinelbl,
#addLabel {
    font-weight: bold;

}
#cost,
#rating,
#cuisine {
    font-weight: 200;

}
#address1,
#address2 {
    margin:0px;
    font-size: 14px;
    font-weight: 200;

}

#reviewer-name {
    text-align:center

}

#rest-info {
    margin-top:20px;
}

#imgcard {
    margin-top: 0px;
}

#review-card {
    padding-top: 0px;
}

.header {
   
   margin-top:36px;
   margin-left:10px;
   font-size: 36px;
   font-weight: bolder;
}