* {
    box-sizing: border-box;
}
#ratinglbl,
#cuisinelbl,
#addLabel {
    font-weight: bold;

}
#rating,
#cuisine {
    font-weight: 100;

}
#address1,
#address2 {
    margin:0px;
    font-size: 14px;
    font-weight: 200;

}

#reviewer-name {
    text-align:center

}

#rest-info {
    margin-top:10px;
}